

body {
  font-family: 'Alfa Slab One', sans-serif;
  background-color: black;
  color: rgb(203, 84, 24);
  font-family: sans-serif;
  padding: auto;
  margin: auto;
  height: 769px;
}

h1 {
  color: rgb(203, 84, 24);
}


.phrase {
  margin-top: 200px;
  margin-left: 50px;
  display: inline-block;
  width: 300px;
  height: 250px;

}

 footer {
   background-color: rgb(203, 84, 24);
   height: 180px;
 }

nav {
  font-family: 'Alfa Slab One', sans-serif;
  height: 85px;
}

nav h1 {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 40px;
  margin: 20px;
  /* margin-top: 20px; */
  display: inline-block;
}

nav a {
  color: rgb(203, 84, 24);
  text-decoration: none;
  float: right;
  margin: 20px;
  margin-top: 30px;

}

img {
  border-radius: 10px;
  max-width: 100%;
}

 main {
   display: flex;
   align-items: center;
   max-width: 1310px;
   margin: 30px auto;
 }
 section {
   border: solid rgb(203, 84, 24) 4px;
   border-radius: 10px;
   padding: 20px;

   flex-basis: 33.33%;
   margin: auto;
 }
 section:not(:last-child) {
   margin-right: 30px;
     }
 section.secondary {
   order: -1;
 } 

.signup {
  display: block;
  /* margin-right: 200px; */
} */

.button {

  margin: 15px;
  background-color: #fff;
  text-align: center;
  color: rgb(203, 84, 24);
  border-radius: 50px;
  width: 100px;
  height: 30px;
  float: right;
  margin-top: 20px;
  padding-top: 8px;
}

.signup-button {

  margin: 15px;
  background-color: #fff;
  text-align: center;
  color: rgb(203, 84, 24);
  border-radius: 50px;
  width: 100px;
  height: 30px;
  margin-top: 25px;
  padding: 8px;
}

section .text-wrapper p:first-of-type {
  font-weight: 700;
  font-style: italic;
  opacity: .4;
  margin-top: 3px;
}


@media (max-width: 715px) {
 

 nav {
   display: inline;
 }

  nav a {
    display: inline-block;
  }


  nav h1 {
    display: inline;
  }

    main {
      display: inline;
      align-items: center;
      max-width: 1310px;
      margin: 30px auto;
    }

    section {
      border: solid rgb(203, 84, 24) 4px;
      border-radius: 10px;
      padding: 20px;
      flex-basis: 33.33%;
      margin: 30px;
    }

  section:not(:last-child) {
    margin-right: 30px;
  }
}
 





@media (min-width: 600px) {
  h1 {
    font-size: 7.5vw;
  }

  main {
    text-align: center;
    margin: 30px;
  }

  nav {
    /* display: flex; */
    align-items: center;
    
    /* padding: 20px 30px; */
  }

 

  nav li:last-of-type a {
    margin-right: 0;
  }

 .section {
   margin: 30px;
 }
 .button {

  margin: 15px;
  background-color: rgb(203, 84, 24);
  text-align: center;
  color: #fff;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  float: right;
  margin-top: 20px;
  padding-top: 8px;
}

}

